<div class="registration-container">
  <div class="registration-wrapper">
    <section class="registration-card master-rms-card">
      <section class="content">
        <div class="row">
          <div class="col-6 my-col">
            <div class="my-col-wrapper">
              <div class="form-container">
                <section class="form-header">
                  <img
                    src="../../assets/logos/Master_RMS.jpeg"
                    alt="Master RMS logo"
                    class="avatar-img"
                  />
                  <p class="title">Master RMS</p>
                  <p class="subtitle">Make your journey with us...</p>
                </section>
                <section class="form-content">
                  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                    <mat-form-field
                      class="input-full-width"
                      appearance="outline"
                    >
                      <mat-label>Name</mat-label>
                      <input
                        matInput
                        class="master-rms-input"
                        formControlName="name"
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="input-full-width"
                      appearance="outline"
                    >
                      <mat-label>Email</mat-label>
                      <input
                        matInput
                        class="master-rms-input"
                        formControlName="email"
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="input-full-width"
                      appearance="outline"
                    >
                      <mat-label>Mobile</mat-label>
                      <input
                        matInput
                        class="master-rms-input"
                        formControlName="mobile"
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="input-full-width"
                      appearance="outline"
                    >
                      <mat-label>City</mat-label>
                      <input
                        matInput
                        class="master-rms-input"
                        formControlName="city"
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="input-full-width"
                      appearance="outline"
                    >
                      <mat-label>Password</mat-label>
                      <input
                        matInput
                        class="master-rms-pwd-input master-rms-input"
                        formControlName="password"
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="input-full-width"
                      appearance="outline"
                    >
                      <mat-label>Confirm Password</mat-label>
                      <input
                        matInput
                        class="master-rms-pwd-input master-rms-input"
                        formControlName="confirm_password"
                      />
                    </mat-form-field>

                    <div class="form-btn-grp">
                      <button
                        mat-stroked-button
                        type="button"
                        class="master-rms-btn primary-stroked-btn login-btn"
                        (click)="routeTo('login')"
                      >
                        login
                      </button>

                      <button
                        mat-raised-button
                        type="submit"
                        class="master-rms-btn primary-raised-btn register-btn"
                      >
                        Register
                      </button>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>

          <div class="col-6 my-col">
            <div class="my-col-wrapper">
              <div class="img-container">
                <img
                  src="../../assets/imgs/login_image.jpeg"
                  alt="login image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
