@import "./global-variables.scss";

// rows & columns
.row {
  padding: 0 !important;
  margin: 0 !important;

  .master-rms-col {
    padding: 0 !important;
    margin: 0 !important;

    .master-rms-col-wrapper {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

// buttons
.master-rms-btn {
  position: relative;
  outline: none !important;
  text-transform: uppercase;
  border-radius: 5x;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  .btn-icon-left {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 18px;
  }
}

.primary-stroked-btn {
  border: 1px solid $brown !important;
  border-radius: 2px !important;
  color: $brown;
}

.primary-raised-btn {
  background: $brown;
  color: $white;

  &:hover {
    background: $brownBG;
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
  }
}

.primary-btn {
  color: $brown;
}

.secondary-stroked-btn {
  border: 1px solid $yellow !important;
  border-radius: 2px !important;
  color: $black;
}

.secondary-raised-btn {
  background: $yellow;
  color: $black;
}

.secondary-btn {
  color: $yellow;
}

// form controls
.master-rms-input {
  font-size: 20px;
  color: $brown;
}

.input-full-width {
  width: 100%;

  mat-label {
    font-size: 18px;
    color: $black;
  }
}

.master-rms-pwd-input {
  -webkit-text-security: square;
}

// cards
.master-rms-card {
  box-shadow: $cardShadow;
}

// sidenav drawer
.master-rms-drawer-container {
  height: 100% !important;
  background: transparent;

  .master-rms-sidenav {
    height: 100%;
    box-shadow: $cardShadow;

    .nav-list {
      list-style: none;
      padding: 0 !important;
      margin: 0 !important;
      background: $whiteBG;

      .nav-list-item {
        cursor: pointer;
        padding: 5px 15px !important;
        margin: 0 !important;
        border-bottom: 1px solid $brown;
        font-size: 14px;
        text-align: center;

        &:hover {
          color: $white;
          background: rgb(63, 94, 251);
          background: radial-gradient(
            circle,
            rgba(63, 94, 251, 1) 0%,
            rgba(252, 70, 107, 1) 100%
          );
        }
      }

      .nav-list-item-active {
        color: $white;
        background: rgb(63, 94, 251);
        background: radial-gradient(
          circle,
          rgba(63, 94, 251, 1) 0%,
          rgba(252, 70, 107, 1) 100%
        );
      }
    }
  }

  .sidenav-sm {
    width: 180px;
  }

  .master-rms-sidenav-content {
    height: 100%;
  }
}
