// matte colors
$white: #fdfbf9;
$black: #171717;
$yellow: #edd94c;
$brown: #533621;

// backgrounds
$whiteBG: $white 0% 0% no-repeat padding-box;
$blackBG: $black 0% 0% no-repeat padding-box;
$yellowBG: $yellow 0% 0% no-repeat padding-box;
$brownBG: $brown 0% 0% no-repeat padding-box;

// box-shadows
$cardShadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
