/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  background: url("./assets/imgs/main_body_bg.jpeg") padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
