<div class="app-home-container">
  <div class="app-home-wrapper">
    <section class="banner-container">
      <figure>
        <img [src]="assetsPath + 'imgs/banner1.jpeg'" alt="" />
        <figcaption>
          <p class="banner-description">Banner goes here...</p>
        </figcaption>
      </figure>
    </section>

    <section class="security-info-container panel-container">
      <p class="title">Our Safety Promises</p>
      <div class="row">
        <div class="col master-rms-col">
          <div class="master-rms-col-wrapper">
            <section class="safety-card panel-card master-rms-card">
              <p class="title">
                <i class="fas fa-shield-alt"></i>
                Renewed Safety Protocol
              </p>
              <p class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium facilis velit sapiente explicabo temporibus corporis,
                laborum facere id sed. Natus reiciendis non a tempore assumenda
                voluptatibus autem velit incidunt maiores.
              </p>
            </section>
          </div>
        </div>
        <div class="col master-rms-col">
          <div class="master-rms-col-wrapper">
            <section class="safety-card panel-card master-rms-card">
              <p class="title">
                <i class="fas fa-desktop"></i>
                Contactless Technology
              </p>
              <p class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium facilis velit sapiente explicabo temporibus corporis,
                laborum facere id sed. Natus reiciendis non a tempore assumenda
                voluptatibus autem velit incidunt maiores.
              </p>
            </section>
          </div>
        </div>
        <div class="col master-rms-col">
          <div class="master-rms-col-wrapper">
            <section class="safety-card panel-card master-rms-card">
              <p class="title">
                <i class="fas fa-user-shield"></i>
                Trained on Hygiene
              </p>
              <p class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium facilis velit sapiente explicabo temporibus corporis,
                laborum facere id sed. Natus reiciendis non a tempore assumenda
                voluptatibus autem velit incidunt maiores.
              </p>
            </section>
          </div>
        </div>
        <div class="col master-rms-col">
          <div class="master-rms-col-wrapper">
            <section class="safety-card panel-card master-rms-card">
              <p class="title">
                <i class="fas fa-person-booth"></i>
                Safer Rooms
              </p>
              <p class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium facilis velit sapiente explicabo temporibus corporis,
                laborum facere id sed. Natus reiciendis non a tempore assumenda
                voluptatibus autem velit incidunt maiores.
              </p>
            </section>
          </div>
        </div>
      </div>
    </section>

    <section class="brands-container panel-container">
      <p class="title">Our Brands</p>
      <div class="row">
        <div class="col master-rms-col">
          <div class="master-rms-col-wrapper">
            <section class="brand-card panel-card master-rms-card">
              <figure class="header">
                <img [src]="assetsPath + 'imgs/banner2.jpeg'" alt="" />
                <figcaption>
                  <p class="title">Master Restaurant</p>
                </figcaption>
              </figure>
              <p class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium facilis velit sapiente explicabo temporibus corporis,
                laborum facere id sed. Natus reiciendis non a tempore assumenda
                voluptatibus autem velit incidunt maiores.
              </p>
            </section>
          </div>
        </div>

        <div class="col master-rms-col">
          <div class="master-rms-col-wrapper">
            <section class="brand-card panel-card master-rms-card">
              <figure class="header">
                <img [src]="assetsPath + 'imgs/banner2.jpeg'" alt="" />
                <figcaption>
                  <p class="title">Master Bar</p>
                </figcaption>
              </figure>
              <p class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium facilis velit sapiente explicabo temporibus corporis,
                laborum facere id sed. Natus reiciendis non a tempore assumenda
                voluptatibus autem velit incidunt maiores.
              </p>
            </section>
          </div>
        </div>

        <div class="col master-rms-col">
          <div class="master-rms-col-wrapper">
            <section class="brand-card panel-card master-rms-card">
              <figure class="header">
                <img [src]="assetsPath + 'imgs/banner2.jpeg'" alt="" />
                <figcaption>
                  <p class="title">Master Hotel</p>
                </figcaption>
              </figure>
              <p class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium facilis velit sapiente explicabo temporibus corporis,
                laborum facere id sed. Natus reiciendis non a tempore assumenda
                voluptatibus autem velit incidunt maiores.
              </p>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
